:root {
  --title-header-font: 'Poppins', Arial, sans-serif;
  --body-font: 'Lora', Georgia, serif;

  --primary-color: #1e3a8a;
  --secondary-color: #d1d5db;
  --accent1-color: #10b981;
  --accent2-color: #f97316;
  --accent3-color: #ffffff;

  --dark-tone: #4b5563;
  --text-in-color: whitesmoke;
}

/* First Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: auto 1fr auto;

  width: 100%;

  font-family: var(--body-font);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-header-font);
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: calc(512px / var(--svg-width));
  height: auto;
  aspect-ratio: 1 / 1;
}

/* Structural Arrange */
header,
footer {
  grid-column: 1 / 4;

  display: flex;
  align-items: center;

  padding: 0.5rem;
}

main {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* Header Styles */
header {
  grid-row: 1 / 2;

  justify-content: space-between;

  font-size: 1.35rem;
}

header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: var(--title-header-font);
  font-size: 1.35rem;
  font-weight: bold;
}

header .logo img {
  width: calc(512px / 12);
  aspect-ratio: 1 / 1;
}

header .logo img {
  filter: invert(1) sepia(1) saturate(calc(10 * 1000 * 1000)) contrast(4) brightness(0.65)
    hue-rotate(305deg);
}

header figcaption .highlight {
  color: var(--accent2-color);
}

header .wl {
  position: relative;

  border: 0;
  background-color: transparent;

  --svg-width: 21;
  --svg-color: var(--accent2-color);
  --mix-color: orangered;
}

header .wl svg {
  fill: var(--svg-color);
}

header .wl:hover svg {
  fill: color-mix(in srgb, var(--svg-color), var(--mix-color));
}

header .wl span {
  position: absolute;
  top: -0.5rem;
  right: 0;

  padding: 0.015rem 0.1rem;
  border-radius: 0.25rem;

  text-align: center;
  font-size: medium;
  font-weight: bold;

  background-color: var(--accent1-color);
}

header .wl span.hide {
  display: none;
}

/* Home Variant */
.home {
  color: var(--text-in-color);

  z-index: 1;
}

.home .wl {
  --svg-color: var(--secondary-color);
  --mix-color: var(--dark-tone);
}

/* Main Styles */
.home + main {
  grid-row: 1 / 3;
}

main {
  padding-bottom: 3rem;
}

section {
  grid-column: 2 / 3;
}

h2 {
  margin-block: 1rem;

  font-size: xx-large;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  font-family: var(--title-header-font);
  color: var(--text-in-color);
}

.hero picture,
.hero article {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hero img {
  width: 100%;
  height: auto;

  filter: blur(0.25rem);
  aspect-ratio: 9 / 16;
}

.hero article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  padding-left: 1rem;

  background: linear-gradient(var(--primary-color), transparent);

  z-index: 0;
}

.hero article h1 {
  width: 5ch;

  text-wrap: wrap;

  font-size: 3rem;
}

.hero article a {
  padding: 1rem;

  border-radius: 0.5rem;

  color: var(--text-in-color);
  background-color: var(--accent1-color);

  font-weight: bold;
}

.hero article a:hover {
  background-color: color-mix(in srgb, var(--accent1-color), var(--dark-tone));
}

/* Genre List */
#list {
  padding-inline: 1.35rem;

  display: flex;
  flex-direction: column;
}

#list article {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  gap: 2rem;

  width: 100%;
}

.genre-list article {
  color: var(--dark-tone);
}

a:has(.genre):hover {
  color: initial;
}

a:has(.genre):hover img {
  filter: none;
}

.genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.genre img {
  width: 80%;
  filter: invert(0.5) sepia(0.5) saturate(2) contrast(1.2) brightness(0.8) hue-rotate(180deg);
}

.genre figcaption {
  text-align: center;
  text-wrap: wrap;
  word-break: break-all;
}

/* Movie List */
.movie-card {
  position: relative;
  aspect-ratio: 2 / 3;

  overflow: hidden;
}

.movie-card img {
  width: 100%;
  aspect-ratio: 2 / 3;
}

.movie-card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  position: absolute;
  padding-inline: 1rem;

  width: 100%;
  height: 100%;

  font-family: var(--title-header-font);
  text-align: center;

  color: var(--text-in-color);
  background-color: color-mix(in srgb, var(--primary-color), transparent 15%);

  transition: transform 500ms ease-in-out;
}

.movie-card:hover figcaption {
  transform: translateY(-102%);
}

/* Movie Styles */
#movie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  gap: 1rem;

  --poster-width: 300px;
  --divisor-width: 1.25;
}

#movie > * {
  grid-column: 2 / 3;
}

#movie h2 {
  text-align: center;
  margin-bottom: 0;
}

#movie h3 {
  margin-bottom: 0.5rem;

  font-size: x-large;
}

#movie figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  width: calc(var(--poster-width) / var(--divisor-width));
}

#movie figure picture,
#movie figure img {
  width: 100%;
  height: auto;
}

#movie figcaption {
  align-self: stretch;

  display: flex;
  justify-content: space-between;
}

#movie button {
  padding: 0.25rem 2rem;

  border-radius: 2rem;

  background-color: transparent;
  border: 1px solid var(--dark-tone);

  --svg-width: 18;
}

#movie button svg.rmv {
  display: none;
}

#movie button.added:not(.added.fav):hover svg:not(.rmv) {
  display: none;
}

#movie button.added:hover svg.rmv {
  display: block;
}

#movie #btnWatchlist.added {
  background-color: color-mix(in srgb, lightgreen, var(--dark-tone));
}

#movie #btnWatchlist:hover {
  background-color: color-mix(in srgb, transparent, var(--dark-tone));
}

#movie #btnWatchlist.added:hover {
  background-color: color-mix(in srgb, red, var(--dark-tone));
}

#movie #btnFavorite:hover {
  background-color: palevioletred;
}

#movie #btnWatchlist.added svg,
#movie #btnFavorite:hover svg {
  fill: var(--accent3-color);
}

/* Footer Styles */
footer {
  grid-row: 3 / 4;

  flex-direction: column;

  padding-block: 1rem;
}

@media (min-width: 768px) {
  .hero img {
    aspect-ratio: 16 / 9;
  }

  .hero article {
    align-items: center;

    padding-left: 0;
  }

  .hero article h1 {
    width: initial;

    text-wrap: wrap;

    font-size: 3rem;
  }

  #list article {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  #movie {
    display: grid;
    grid-template-columns: 1fr 1fr 1.25fr 1fr;
    grid-auto-rows: min-content;
    gap: 1rem;

    --poster-width: 500px;
    --divisor-width: 2;
  }

  #movie h2,
  #movie article {
    grid-column: 3 / 4;

    justify-self: start;
  }

  #movie h2 {
    text-align: left;
  }

  #movie figure {
    grid-row: 1 / 4;

    margin-top: 1rem;
  }

  footer {
    flex-direction: row;
    justify-content: center;
  }

  footer p:not(footer p:last-child)::after {
    content: '|';

    margin-inline: 0.5rem;
  }
}
